<a href="https://colab.research.google.com/github/Nikhil-gitub/23CSBTB27_PDS/blob/main/Lab05_PDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Customers
customers = pd.DataFrame({
    'customer_id': [1,2,3,4,5],
    'name': ['Alice','Bob','Charlie','David','Eva'],
    'city': ['New York','Los Angeles','New York','Chicago','Los Angeles']
})

# Transactions
transactions = pd.DataFrame({
    'transaction_id': [101,102,103,104,105,106,107],
    'customer_id': [1,2,1,3,4,2,5],
    'amount': [250,300,150,400,200,350,500]
})

# Merge
merged = pd.merge(transactions, customers, on='customer_id')

# Spend per customer
customer_spend = merged.groupby(['customer_id','name'])['amount'].sum().reset_index()

# Spend per city
city_spend = merged.groupby('city')['amount'].sum().reset_index()

# Top spender
top_spender = customer_spend.loc[customer_spend['amount'].idxmax()]

print("Merged:\n", merged)
print("\nCustomer Spend:\n", customer_spend)
print("\nCity Spend:\n", city_spend)
print("\nTop Spender:\n", top_spender)

Merged:
    transaction_id  customer_id  amount     name         city
0             101            1     250    Alice     New York
1             102            2     300      Bob  Los Angeles
2             103            1     150    Alice     New York
3             104            3     400  Charlie     New York
4             105            4     200    David      Chicago
5             106            2     350      Bob  Los Angeles
6             107            5     500      Eva  Los Angeles

Customer Spend:
    customer_id     name  amount
0            1    Alice     400
1            2      Bob     650
2            3  Charlie     400
3            4    David     200
4            5      Eva     500

City Spend:
           city  amount
0      Chicago     200
1  Los Angeles    1150
2     New York     800

Top Spender:
 customer_id      2
name           Bob
amount         650
Name: 1, dtype: object

In [3]:
import pandas as pd

# Patients dataset
patients = pd.DataFrame({
    'patient_id':[1,2,3,4,5],
    'name':['Alice','Bob','Charlie','David','Eva'],
    'age':[29,34,42,50,37]
})

# Appointments dataset
appointments = pd.DataFrame({
    'appointment_id':[101,102,103,104,105,106,107,108],
    'patient_id':[1,2,1,3,4,2,5,3],
    'doctor':['Dr. Smith','Dr. Lee','Dr. Smith','Dr. Lee',
              'Dr. Brown','Dr. Lee','Dr. Smith','Dr. Brown']
})

# Merge
merged = pd.merge(appointments, patients, on='patient_id')

# Appointments per patient
patient_visits = merged.groupby(['patient_id','name']).size().reset_index(name='visits')

# Workload per doctor
doctor_workload = merged.groupby('doctor').size().reset_index(name='appointments')

# Top patient
top_patient = patient_visits.loc[patient_visits['visits'].idxmax()]

print("Patient Visits:\n", patient_visits)
print("\nDoctor Workload:\n", doctor_workload)
print("\nTop Patient:\n", top_patient)

# Insights
print(f"\nInsights:\n- {top_patient['name']} visited most with {top_patient['visits']} visits.")
print(f"- {doctor_workload.loc[doctor_workload['appointments'].idxmax(),'doctor']} handled the highest workload.")

Patient Visits:
    patient_id     name  visits
0           1    Alice       2
1           2      Bob       2
2           3  Charlie       2
3           4    David       1
4           5      Eva       1

Doctor Workload:
       doctor  appointments
0  Dr. Brown             2
1    Dr. Lee             3
2  Dr. Smith             3

Top Patient:
 patient_id        1
name          Alice
visits            2
Name: 0, dtype: object

Insights:
- Alice visited most with 2 visits.
- Dr. Lee handled the highest workload.